@model NextGen.Model.ViewModel.TaxCalculationViewModel

@if (Model.CalculatedTax > 0)
{
    <div class="mt-4">
        <h3>Calculation Result</h3>
        <p>Tax Calculation Type: @Model.TaxCalculationType</p>
        <p>Email: @Model.Email</p>
        <p>Postal Code: @Model.PostalCode</p>
        <p>Earning Per Month: @Model.EarningPerMonth</p>
        <p>Earning Per Year: @Model.EarningPerYear</p>
        <p>Calculated Tax: @Model.CalculatedTax</p>
    </div>
}
