@model NextGen.Model.ViewModel.TaxCalculationViewModel

@if (Model.CalculatedTax > 0)
{
    <div class="mt-4">
        <h3>Calculation Result</h3>
        <p>Tax Calculation Type: @Model.TaxCalculationType</p>
        <p>Email: @Model.Email</p>
        <p>Postal Code: @Model.PostalCode</p>
        <p>Rate Percentage: @Model.RatePercentage</p>
        <p>Earning Per Year: @Model.EarningPerYear</p>
        <p>Calculated Tax: @Model.CalculatedTax</p>

        <a asp-action="Index" class="btn btn-secondary">calculate Tax</a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</a>
    </div>
}
